<!DOCTYPE html>
<html>

<head>
  <title>Nueva Deuda</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <main class="container mt-4 reg">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center mb-5">Registrar Nueva Deuda</h1>
        <form action="/nuevaDeuda" method="POST">

          <input type="hidden" id="id_cliente" name="id_cliente" value="<%= id_cliente %>">
          <input type="hidden" id="id_empresa" name="id_empresa" value="<%= id_empresa %>">

          <div class="mb-3">
            <label for="nombre">Nombre Cliente:</label>
            <select id="nombre" name="nombre" class="form-control">
              <% clients.forEach(client => { %>
                <option value="<%= client.nombre %>"><%= client.nombre %></option>
              <% }); %>
            </select>
          </div>

          <div class="mb-3">
            <label for="nombreEmpresa">Nombre Empresa:</label>
            <select id="nombreEmpresa" name="nombreEmpresa" class="form-control">
              <% companies.forEach(company => { %>
                <option value="<%= company.nombreempresa %>"><%= company.nombreempresa %></option>
              <% }); %>
            </select>
          </div>
          

          <div class="mb-3">
            <label for="deuda">Deuda:</label>
            <input type="number" id="deuda" name="deuda" class="form-control" required>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-primary w-100">Registrar</button>
          </div>

        </form>
      </div>
    </div>
  </main>
</body>

</html>
